---
title: Aerospike EE OnDemand Service for PCF (BETA)
owner: Partners
---

This documentation describes Aerospike EE OnDemand Service for Pivotal Cloud Foundry (PCF). 
Aerospike EE OnDemand Service for PCF allows you to configure and deploy multiple Aerospike Enterprise Edition NoSQL database clusters to your PCF deployment. 

These clusters can be configured and scaled independently as required by your application. The tile 
allows you to configure the default settings for small, medium, and large cluster plans.
Developers can create instances of these service plans using the Cloud Foundry Command Line Interface (cf CLI) and bind them to applications to access the Aerospike database managed by this service.

Once created, Aerospike clusters can be modified using the cf CLI. This allows dynamic scaling of the services as required.

## <a id='overview'></a>Overview

Aerospike EE OnDemand Service for PCF includes the following key features:

* Create and destroy Aerospike database cluster services as required using the cf CLI
* Dynamically scale individual Aerospike database cluster services
* Monitor and manage Aerospike database cluster service using the Aerospike Management Console

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Aerospike EE OnDemand Service for PCF Details:</dt>
<dd><strong>Version</strong>: v1.0.1 </dd>
<dd><strong>Release date</strong>: April 17, 2017</dd>
<dd><strong>Software component version</strong>: Aerospike Server Enterprise Edition v3.12.1</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.8.x, v1.9.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.8.x, v1.9.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> No</dd>
<dd><strong>AWS support?</strong> No</dd>
</dl>

## <a id="reqs"></a>Requirements

Aerospike EE OnDemand Service for PCF requires a valid Enterprise Edition license for the Aerospike database.

## <a id="limitations"></a>Limitations

The current version has only been tested in the vSphere environment.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).

## <a id='license'></a>License

To obtain a license for the Enterprise Edition of the server, use [this form](http://www.aerospike.com/contact-us/) to contact the Aerospike sales team.


