---
title: Aerospike EE OnDemand Service for PCF
owner: Partners
---

This documentation describes Aerospike EE OnDemand Service for Pivotal Cloud Foundry (PCF). Aerospike EE OnDemand Service for PCF allows you to configure and deploy multiple Aerospike Enterprise Edition NoSQL database clusters to your PCF deployment.

These clusters can be configured and scaled independently as required by your app. The tile allows you to configure the default settings for small, medium, and large cluster plans. Developers can create instances of these service plans using the Cloud Foundry Command Line Interface (cf CLI) and bind them to apps to access the Aerospike database managed by this service.

Once created, Aerospike clusters can be modified using the cf CLI. This allows dynamic scaling of the services as required.


## <a id='overview'></a> Overview

Aerospike EE OnDemand Service for PCF includes the following key features:

* Create and destroy Aerospike database cluster services as required using the cf CLI
* Dynamically scale individual Aerospike database cluster services


## <a id="snapshot"></a> Product Snapshot


The following table provides version and version-support information about Aerospike EE OnDemand Service for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>2.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 20, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Aerospike Server Enterprise Edition 4.6.0.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, 2.4 and 2.5</td>
    </tr>
    <tr>
        <td>Pivotal Application Service version(s)</td>
        <td>2.2, 2.3, 2.4, and 2.5</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, and AWS</td>
    </tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
Aerospike EE OnDemand Service for PCF v1.0.7
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="reqs"></a> Requirements

Aerospike EE OnDemand Service for PCF requires a valid Enterprise Edition license for the Aerospike database.


## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).


## <a id='license'></a> License

To obtain a license for the Enterprise Edition of the server, use [this form](https://www.aerospike.com/contact-us/) to contact the Aerospike sales team.
